*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
vendor/
tmp/
temp/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
/wp-content/uploads/
/wp-admin/
/wp-includes/

*.wpress
/*.php
.htaccess
!wp-config.php
